@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-nav{
	background-color: #00008b;
}

#cancerRibbon{
	height: 2%;
	width: 2%;
	margin-right: 8px;
}

#semilCartoon{
	display: block;
	height: 50%;
	width: 50%;
}

.intro{
	margin-top: 2%;
	margin-left: 40px;
}

.content{
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
}

.cardContent{
	margin-top: 5%;
}

.cardUpdate{
	display: block;
}

#carousel{
	height: auto;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

.accounts{
	height: 20%;
	width: 20%;
}

.accounts2{
	height: 30%;
	width: 30%;
}

.updateIntro{
	margin-top: 15%;
}

#chemo1{
	height: 50%;
	width: 50%;
}

#chemo2{
	height: 50%;
	width: 50%;
}

.updateContent{
	font-size: 25px;
	margin-right: 10%;
	margin-left: 10%;
}

.updateHover {
cursor: pointer;
}

.cardImage{
	border-style: solid;
	border-width: 0.5px;
	border-color: blue;
}

#vercel{
	height: 10%;
	width: 10%;
}

#navLogo{
	height: 25%;
	width: 25%;
}

#savingSemilNav{
	height: 25%;
	width: 25%;
	background: url("/savingSemilImg.jpg") no-repeat;
	display: inline-block;
}

.navSelects{
	color: white !important;
}#thanks:hover{
	color: teal !important;
}

.links{
	color: #0492C2;
}

.bolds{
	font-weight: bold;
}

#cashDonations{
	color: teal;
	font-weight: bolder;
}


